body {
  color: #A0A0A0;
  background:
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Lora', serif;
  margin: 0;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h2 {
  color: #919191;
  font-weight: normal;
}

h3 {
  color: #eaeaea;
}

a {
  text-decoration: none;
  color: #919191;
}

.banner {
  background-image: url("https://images.unsplash.com/photo-1519070994522-88c6b756330e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2701&q=80");
  background-size: cover;
  color: white;
  padding: 120px 0;
}

.banner h1 {
  font-size: 38px;
  text-align: center;
}
.banner p {
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  opacity: 0.8;
  text-align: center;
}

.first-item {
  margin-top: 4px;
}

.container {
  width: 700px;
  margin: 50px auto;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-shadow:0px 10px 30px rgba(0,0,0,0.1);
  padding: 40px;
}

.link-medium {
  font-family: 'Lora', serif;
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  font-weight: lighter;
}

.link-medium:hover {
    background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));}
}


@media (max-width: 1200px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 900px;
  }
}

@media (max-width: 992px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 768px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 576px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
